.container{
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.items{
  display: flex;
  justify-content: space-around;
  padding: 1rem 4rem 1rem;
  a {
    display: block;
    text-decoration: none;
    &.item {
      color: #DCDCDC;
      padding: .5rem;
      font-size: 1.1rem;
      border-bottom: solid .1rem #DCDCDC;
      &:hover {
        color: orange;
        border-color: orange;
      }
    }
    &.button {
      padding: .3rem 2rem;
      height: 1.6rem;
      background-color: rgb(51,122,183);
      color: white;
      border-radius: .3rem;
      position: relative;
      &:after{
        position: absolute;
        top: 2.2rem;
        left: 0;
        display: block;
        width: 100%;
        height: 5rem;
        font-size: .8rem;
        content: 'Приедет в течении 20 минут';
      }
    }
  }
}