@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
:global{
  img {
    max-width: 100%;
  }
  html {
    // font-size: 10px;
    font-size: calc( 100vw / 1280 * 16 );

    //@media all and (max-width: 1023px) {
    //  font-size: calc( 100vw / 768 * 10 );
    //}
    //
    //@media all and (max-width: 767px) {
    //  font-size: calc( 100vw / 320 * 10 );
    //}

  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  a{
    text-decoration: none;
  }
}