@import 'desktop.module';
.container{
  background-color: white;
}
:global{
  html {
    font-size: 16px;


  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  a{
    text-decoration: none;
  }
}