.background {
  padding: 0 5rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.wrapper {
  text-align: center;
  width: 22%;

  .image {
    height: 15rem;
    width: 100%;
    background: no-repeat center top;
    background-size: contain;
  }

  .title {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  .text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}