.footer{
 text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  padding: 1rem 0;
  color: rgba(86, 86, 86, 0.37);
  user-select: none;
  a{
    color: rgba(86, 86, 86, 0.37);
  }
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts{
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo{

  img{
    padding: 1rem;
    width: 6rem;
  }
}
.description{
  padding-top: 1rem;
  float: bottom;
}
