@import 'desktop.module';
.background{

}
.container{
  width: 100%;
  display: block;
  .left{
    width: 100%;
  }
  .right{
    padding: 0 2.5rem;
    width: auto;
  }
}
.image{
  width: 100%;
  height: 30rem;
  background: no-repeat center;
  background-size: contain;
}
.title{
  font-size: 2.3rem;
}
.description{

}